// This file is part of EmuShell
// A multi video game systems emulator.
//
// Copyright(C) 2015 Ala Ibrahim Hadid
// E-mail: mailto:ahdsoftwares@hotmail.com
//
// This program is free software : you can redistribute it and / or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.See the
// GNU General Public License for more details.
// You should have received a copy of the GNU General Public License
// along with this program.If not, see <http://www.gnu.org/licenses/>.

MAINICON ICON "icon.ico"
1       VERSIONINFO
FILEVERSION     0,2,0,0
PRODUCTVERSION  0,2,0,0
FILEFLAGSMASK   0X3FL
FILEFLAGS       0L
FILEOS          0X40004L
FILETYPE        0X2
FILESUBTYPE     0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "FileVersion", "0.2 alpha (27-Nov-2015)"
            VALUE "ProductVersion", "0.2 alpha"
            VALUE "OriginalFilename", "EmuShell.exe"
            VALUE "InternalName", "EmuShell.exe"
            VALUE "FileDescription", "A multi video game systems emulator."
            VALUE "CompanyName", "N/A"
            VALUE "LegalCopyright", "Copyright(C) 2015 Ala Ibrahim Hadid"
            VALUE "ProductName", "EmuShell"
            VALUE "PrivateBuild", "Built by Ala Ibrahim Hadid"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
            VALUE "Translation", 0x0409, 0x04B0
    END
END
